<?xml version='1.0' encoding='utf-8'?>
<widget id="de.bierente.memorymanager" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MomentManager</name>
    <description>
        A application to take photos and store them.
    </description>
    <author email="" href="">
        Pascal Kiutra
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/android/36px.png" />
        <icon density="mdpi" src="res/android/48px.png" />
        <icon density="hdpi" src="res/android/72px.png" />
        <icon density="xhdpi" src="res/android/96px.png" />
        <icon density="xxhdpi" src="res/android/144px.png" />
        <icon density="xxxhdpi" src="res/android/192px.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-buildinfo" spec="^2.0.2" />
    <plugin name="cordova-universal-links-plugin" spec="~1.2.1" />
    <plugin name="cordova-plugin-browsertab" spec="^0.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <universal-links>
        <host name="memorymanager.page.link" scheme="https" />
        <host name="memorymanager-732d1.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    <plugin name="cordova-plugin-x-toast" spec="^2.7.2" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^6.4.0" />
</widget>
