/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin: 0px;

    --main-color: #1069FF;
    --second-color: #A4A9B1;
    --third-color: #84B3FF;
}

.app {
    margin: 5px;
    margin-bottom: 48px;
}

#tab-menu {
    position: fixed;
    top: calc( 100vh - 43px );
    height: 40px;
    width: 100%;
    border-top: solid 3px var(--main-color);
    background-color: white;
}

.tab {
    height: 100%;
    width: 49%;
    display: inline-block;
    text-align: center; 
    fill: var(--second-color);
}

.tab-icon {
    margin-top: 8px;
}

.focused {
    fill: var(--main-color) !important;
}

.invisible {
    display: none;
}

#new_photo_title {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--second-color);
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 120%;
}

#new_photo_pic_pic {
    max-width: calc( 100% - 6px );
    max-height: 500px;
    border: solid 3px var(--main-color);
    margin: 0 auto;
    margin-bottom: 10px;
    display: none;
}

#new_photo_description {
    width: calc( 100% - 16px );
    height: 120px;
    margin-bottom: 10px;
    padding: 5px;
}

#new_photo_save, #new_photo_pic_new, #new_photo_pic_renew, #new_photo_pic_delete {
    width: 100%;
    height: 40px;
    color: white;
    fill: white;
    background-color: var(--main-color);
    border: none;
    margin-bottom: 10px;
    font-size: 120%;
}

#new_photo_pic_renew, #new_photo_pic_delete {
    width: 49%;
    display: none;
}

#new_photo_pic_delete {
    background-color: var(--third-color);
}